
<script type="text/javascript">
$(function(){
$('.navProjects > a').css('color', '#f3bf32');
$(".projectInfo").hide();

$(".projectPicture").hover(function{
	
	}, function()
	{
		
	});
});
</script>
<div id="projectsContainer">
	<div class="projects">
		<% @projects.each do |project| %>
		<div class="project">
			<%= link_to 											image_tag(project.photo.url(:small)),project%>
			<div class="projectCaption">
			<%= project.company %><br />
			
			</div>
		</div>
		<% end %>
		
	</div>
</div>
