
<script type="text/javascript">
$(function(){
$('.navHome > a').css('color', '#f3bf32');

	});
</script>

<div id="pageContainer">
	
	<span id="homeSlidePrev">
	<i class="icon-white icon-arrow-up"></i></span><br /><br />
	<span  id="homeSlideNext">
	<i class="icon-white icon-arrow-down"></i></span>

	<div id="homePage">	
		<div class="homeSlider">
			<div id="homeSlide1">
				<span class="homeSlide1Title">
					<div class="logoSectionSlide">(
						<span class="slide1wordswap">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp
						</span>
			)		</div> state of mind
				</span>
				<div id="wordlist">
					<div id="wordlistcontainer">
					<span class="slide1wordswap">design</span><br />
					<span class="slide1wordswap">rails</span><br />
					<span class="slide1wordswap">creative</span><br />
					<span class="slide1wordswap">deployment</span><br />
					<span class="slide1wordswap">chicago</span><br />
					<span class="slide1wordswap">development</span><br />
				</div>
			</div>
		</div>
			<div id="homeSlide2">
				<span class="homeSlide2Title"> simple. clean. elegant. <br />
					<span class="homeSlide2Sub">	
						<span class="webdev">
							web development
						</span>
						<p id="slide2TextTitle"> because your website should look beautiful underneath the hood too! 
						</p><br />
					</span>
				</span>
				<p class="homeSlide2Text">
				
				<span class="text"><br />
				A good site should always be easy to understand and navigate through. Through clean coding and an eye for good design, I achieve these results.
				</span>
				</p><br />
				
			</div>
			<div id="homeSlide3">
				 <span class='slide3title'>Collaboration</span>
				 <p class="slide3text">
				 Knowing what you want from your website is not as straightforward as some might imagine. The way your site looks and how it functions are of the upmost importance, so why not take part in the process? By providing you with regular feedback, beta versions, and updates you can stay in the loop and help put your site on the right path.
				 </p>
			</div>
			<div id="homeSlide4">
				 this is slide four
			</div>
			
			
		</div>
	</div>
</div>