/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


/* Font-Faces */
@font-face {
    font-family: 'BreeSerif-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('font-faces/serifspecial.eot');
    src: url('font-faces/serifspecial.eot?#iefix') format('embedded-opentype'),
         url('font-faces/serifspecial.woff') format('woff'),
         url('font-faces/serifspecial.ttf') format('truetype'),
         url('font-faces/serifspecial.svg#serifspecial') format('svg');
}
@font-face {
				font-family: 'Raleway-Thin';
				src: url('font-faces/ralewaythin.eot');
				src: url('font-faces/ralewaythin.eot?#iefix') format('embedded-opentype'),
						 url('font-faces/ralewaythin.woff') format('woff'),
						 url('font-faces/ralewaythin.ttf') format('truetype'),
						 url('font-faces/ralewaythin.svg#ralewaythin') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		@font-face {
				font-family: 'Homestead-Inline';
				src: url('font-faces/homestead-inline.eot');
				src: url('font-faces/homestead-inline.eot?#iefix') format('embedded-opentype'),
						 url('font-faces/homestead-inline.woff') format('woff'),
						 url('font-faces/homestead-inline.ttf') format('truetype'),
						 url('font-faces/homestead-inline.svg#homestead-inline') format('svg');
				font-weight: normal;
				font-style: normal;
		}
/* Variables */
$colTeal: #68d4ec;
$colNav: #45484d;
$colFontWhite: #fffff3;
$colFontOrange: #f3bf32;
$fontBree: 'BreeSerif-Regular';
$fontRaleway: "Raleway-Thin";

/*Page Elements */

body {
		font-family: $fontRaleway;
		a:hover{background-color: transparent;}
	
		}
		
/*application.html.erb layout */
header {
		
		top: -2000px;

		

			.logo 
				{
				background: #45484d; /* Old browsers */
				background: -moz-linear-gradient(top, #45484d 0%, #333333 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#333333));
				background: -webkit-linear-gradient(top, #45484d 0%,#333333 100%);
				background: -o-linear-gradient(top, #45484d 0%,#333333 100%);
				background: -ms-linear-gradient(top, #45484d 0%,#333333 100%); 
				background: linear-gradient(to bottom, #45484d 0%,#333333 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
				text-align: center;
				color: $colFontWhite; 
				font-family: $fontBree; 
				width: 100%;
				z-index: 11;
				height:35px;
				padding-top: 20px;
				color: $colFontWhite;
				position: fixed;
				box-shadow: 3px 0px 6px 2px rgba(0,0,0,0.74);
				top: 0px;
				right: 0%;
				.logoSection {
					color: $colFontOrange;
					text-align: center;
					}
			}
		}
nav
	{
		position: fixed;
		z-index: 13;
		top: 100px; 
		left: -100px;
		text-align: right;
		list-style-type: none;
		
		#navPops
			{
			font-size: 10px;
			background-color: rgba(42,41,41,0.92);
			padding: 3px;
			color: $colFontWhite;
			font-weight: bold;
			position: relative;
			top: -30px;
			left: 50px;
			border-radius: 2px;
			}
		.navHomePop,
		.navAboutMePop, 
		.navWhatDoPop, 
		.navProjectsPop {visibility: hidden;}
		.navHomePop {position: relative; left: 200px;}
		a:link, a:visited 
			{
			color: $colNav;
			font-size: 25px;
			position: relative;
			top: -30px;
			word-spacing: 100px;
			}
		a:hover {color: $colFontOrange;}
		
		
		ul	{
			color: $colFontOrange;	
			position: relative;
			z-index: 14;
			
			li
				{
				
color: $colFontOrange;	
				display:inline;
				font-family: $fontBree;
				color: blue;
				z-index: 14;
				}
				li:hover {
			
				}
			}
	}
#footer 
	{
		
		z-index: 10;
		position: relative;
		
		height: 180px;
				
		.footAboutMe
			{
				
			overflow: hidden;
			position: relative;
			right: 0px;
			top: -105px;
			
			box-shadow: inset 2px 1px 5px 3px  rgba(40,40,40,0.82);
			height: 300px;
			background-color: $colNav;
			font-weight: bold;
			color: $colFontWhite;
			.footAboutMeDescription
				{
				font-family: $fontRaleway;
				font-weight: bolder;
				font-size: 15px;
				position: relative;
				width: 500px;
				left: 20%;
				top: 50px;
				line-height: 20px;
				a {color: #50acf2;}
				}
			.footSocialMedia
				{
				width: 200px;
				position: absolute;
				left: 700px;
				font-weight: 900;
				font-family: $fontRaleway;
				text-align: right;
				a	{
					padding-left: 50px;
					text-align: right;
					height: 30px;
					font-size: 12px;
					line-height: 13px;
					width: 180px;
					color: $colFontWhite;
					a:hover {color: blue;}
					img 
						{
						position: absolute;
						left: 20px;
						
						
						}
					}
			}
		}
	}
/* Primary Page Elements */
#pageContainer
	{
		position: relative;
		height: 620px;
		overflow: hidden;
		}
		
/*Home*/
#homePage
	{
	
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 7px;
	height: 570px;
	font-family: $fontBree;
	background-image: url('aboutMeBackground2.png');
	
	height: 3000px;
	#homeSlider
		{
		width: 1000px;
		position: relative;
		overflow: hidden;
		height: 570px;
		
		}
	#homeSlide2 
		{
		
		position: relative;
		top: -5px;
		width: 100%;
		height: 520px;
		color: $colTeal;
		z-index: 5;
		overflow: hidden;
	
		.homeSlide2Title
			{
			text-align: right;
			margin: 0 auto;
			position: relative;
			left: 20%;
			top: 100px;
			font-size: 60px;
			.homeSlide2Sub
				{
				font-size: 15px;
				text-align: right;
				position: relative;
				left: 150px;
				.webdev 
					{
					color: $colFontOrange;
					font-size: 30px;
					}
				}//end homeSlideSub2
			}//end homeSlideTitle2
		.homeSlide2Text
			{
			color: $colNav;
			
			font-size: 15px;
			position: relative;
			left: 50%;
			top: 150px;
			width: 300px;
			text-align: center;
			.slide2TextTitle
				{
				font-size: 15px;
				font-weight: bold;
				
				}
			
			
			}
	}//end slide2
#homeSlide1
	{
	top: 57px; 
	font-size: 40px;
	width: 100%;
	height: 525px;
	color: $colNav;
	.homeSlide1Title 
	
		{
		position: absolute;
		top: 200px;
		width: 100%;
		text-align: center;
		height: 50px;
		overflow: hidden;
		}	
	.logoSectionSlide
		{
		position: relative;
		color: $colFontOrange;
		overflow: hidden;
		display: inline;
		height: 60px;
		line-height: 60px;
		.slide1wordswap
			{
			position: relative;
			overflow: hidden;
			top: 0px;
				}
		}
	#wordlist 
		{
		line-height: 50px;
		position: relative;
		right: 120px;
		text-align: center;
		width: 100%;
		top: 205px;
		overflow: hidden;
		height: 50px;
		}
	#wordlistcontainer
		{
		position: relative;
		
		}
	}//end slide2
#homeSlide3
	{
	background-color: green;
	font-size: 20px;
	width: 100%; 
	height: 520px;
	}
#homeSlide4
	{
	background-color: yellow;
	font-size: 10px;
	width: 100%; 
	height: 515px;
	}
}//end home-page
	
	#homeSlidePrev, #homeSlideNext
		{
		position: fixed;
		color: gray;
		font-size: 40px;
		z-index: 12;
		top: 450px;
		cursor: pointer;
		left: 50%;
	
	
		}
	#homeSlidePrev
		{
		position: relative;
		
		
			
		}
	#homeSlideNext 
		{
		position: relative;
		
		}


/* About Me */
#aboutMePageContainer
	{
		width: 100%;
		height: 1020px;
		position: relative;
		top: -20px;
		left: 00px;
	
		background-image: url('containerBackground.png');
		
	}
#aboutMePage
	{

	position: relative;
	right: 100px;
	font-weight: bold;
	height: 500px;
	width: 100%;
	i {color: $colTeal; font-weight: bolder;}
	.aboutMeText 
		{
		height: 300px;
		position: relative;
		
		width: 350px;
		top: 150px;
		left: 750px;
		
		}
	}
#contactMe
	{
	background-color: #424141;
	width: 100%; 
	height: 400px;
	position: relative;
	top: 100px;
	}
	/* What I Do */
#whatDoPageContainer
	{
	background-image: url('classy_fabric.png');
	font-family: 'Homestead-Inline';
	width: 100%;
	height: 620px;
	
	position: relative;

	}
.whatDo 
	{
	height: 620px;
	width: 100%;
	padding: 40px;
	position: relative;
	columns: 4;
	#whatDoTitle 
		{
		position: relative;
		left: 36%;
		top: 50px;
		font-size: 70px;
		text-align: center;
	color: rgba(245,245,230,0.61);
		}
		
	#columns
		{
		position: relative;
		top: 100px;
		color: rgba(245,245,230,0.81);
		
		#column 
			{
			font-weight: bold;
			font-family: 'Raleway-Thin';
			text-align: center;
			.columnTitle
				{
				font-family: 'Homestead-Inline';
				color: rgba(245,245,230,0.61);
				
				}
			.columnDescription
				{
				a:link, a:visited 
					{
					font-family: $fontBree;
					color: $colFontOrange;
					}
				a:hover{text-decoration: underline;}
				}
			}
		}	
	}
#projectsContainer
	{
	height: 620px;
	#projects 
		{
		width: 100%;
		
		}
	}
	