
<script type="text/javascript">
$(function(){
$('.navProjects > a').css('color', '#f3bf32');
});
</script>

<div id="projectsContainer">
	<div id="projectsPage">
		<p class="projectsText">
		<span style="color: yellow"><strong>This page is still under construction.</strong></span> Check out my most recent project for <a href="livewellchicago.herokuapp.com">Live Well Chicago</a>
</p>
	</div>
</div>
	