
<script type="text/javascript">
$(function(){
$('.navAboutMe > a').css('color', '#f3bf32');
});
</script>

<div id="aboutMePageContainer">
	<div id="aboutMePage">
		<p class="aboutMeText">
	Hello, I'm a web developer located in the heart of Chicago. I like to make websites which are <i>efficient</i>, easy to <i>navigate</i>, and 				<i>stylish</i>. Rather than keeping the website building process a mystery to the client, here at DSOM we like to keep you in the loop. We'll help you map out exactly what you want out of your web site and keep you up to date with our progress. It is our hope that through including the customer in the process of building a site we can help build you the perfect site.<br /><br />
		</p>
	</div>
	
	<div id="contactMe" >
		Parts of the site are under construction, sorry for the inconvenience.<br />
	In the meantime please feel free to e-mail me at <a href="mailto:raphael.shejnberg@gmail.com">raphael.shejnberg@gmail.com</a>
		<span class="contactMeTitle" style="visibility: hidden">
			Get in touch!
		</span><br /><br />
		<span class="contactForm" style="visibility: hidden">
			Name<br />
			<input type="text"><br />
			e-mail<br />
			<input type="email"><br />
			<span class="contactMessage">
				Message<br />
				<textarea rows="6" cols="30"></textarea>
			</span>
		</span>
		<span class="mailImage">
		<%= image_tag('mail.ico') %>
		</span>
		<p class="contactForm">
		
		</p>
	</div>
</div>
	