<div id="showContainer">
	<br />

	
	<span class="showInfo">
		<p class="showCompany">
			Live Well Chicago L.L.C
			<b>2012</b>
			</p>
			<p>
				
			</p>
			<div class="showBooleans">
				
				
					
						<span class="badge badge">
							Backend
						</span>
				
					&nbsp&nbsp&nbsp
				
					<span class="badge badge-warning">
						Database
					</span>
				
					&nbsp&nbsp&nbsp
					
					<span class="badge badge-info">
						Design
					</span>
				
				<br /><br />
			</div>
			<p class="showDescription">
				Live Well asked me to come in and make them a site which they could use to store and show their listings. This site includes a secure password-protected database which is accessible via login from any of the company's leasing agents. Additionally to optimize management of the listings a mobile-compatible admin interface was included.
			</p>
			<br />
	
	</span>
	<p class="showImageContainer">
		<div class="showImage" style="margin-right: 20px">
			<%= image_tag 'livewell1.png' %>
		</div>
		<div class="showImage">
			<%= image_tag 'livewell2.png' %>
		</div><br />
		<div style="clear: left; margin-top: -10px;" class="showImage">
			<%= image_tag 'livewell3.png' %>
		</div>
	</p>

</div>