
<script type="text/javascript">
$(function(){
$('.navProjects > a').css('color', '#f3bf32');
});
</script>

<div id="projectsContainer">
	<div id="projectsPage">
		<p class="projectsText">
</p>
	</div>
</div>
	