
<script type="text/javascript">
$(function(){
$('.navWhatDo > a').css('color', '#f3bf32');
});
</script>

<div id="whatDoPageContainer">
	<div class="whatDo">
		<span id="whatDoTitle">What I do</span>
		<span class="whatDoSub"><i>"I love building elegant, smart sites"</i></span>
		<div id="columns">
			<div class="row">
				<div id="column" class="span3">
					<br /><br /><span class="columnTitle">Design<br /><br /></span>
					<span class="columnDescription">
						 Through regular feedback, and multiple design renditions, we can work with you to create the perfect design.
					<br /><a href="#"> read more </a>
					</span>
				</div>
				<div id="column" class="span3">
					<br /><br /><span class="columnTitle">Development</span><br /><br />
					<span class="columnDescription">
					Web applications can become messy, especially when your dealing with user logins, databases, file storage, and an ocean of other potential features. Using a well organized web application framework I can make sure your site is well-structured while having all the features your site will require.
					<br /><a href="#"> read more </a>
					</span>
				</div>
				<div id="column" class="span3">
					<br /><br /><span class="columnTitle">Toolkit</span><br /><br />
					<span class="columnDescription">
					I'll be preparing your site with the most up to date features in HTML5, JavaScript, and CSS3, along with a few other ingredients (JQuery, Sass). And finally if application development is necessary Ruby on Rails will definitely be included.
					<br /><a href="#"> read more </a>
					</span>
				</div>
				<div id="column" class="span3">
					<br /><br /><span class="columnTitle">Client-Driven</span><br /><br />
					<span class="columnDescription">
					Rather than having you give me a general idea of what you want and dissapearing until the site is complete, I like to make clients part of the process. By providing regular feedback and updates we hope hope to build something which suits your needs perfectly.	<br /><a href="#"> read more </a>
					</span>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
	